body{
  font-family:Arial, sans-serif;
  background-color: #f8f4f4fb;


}
h1{
  color: deepskyblue;
}
form{
  background-color: #fff;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius:10px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 70px;

}
#textBox{
  width:50%;
  text-align:center;
  font-size: 2em;
  border: 2px solid black;
  margin-bottom: 15px;

}
label{
  font-size: 1.5em;
  font-weight:bold;
}
button{
  margin-top: 15px;
  background-color: hsl(0,100%,60%);
  color:white;
  font-size:1.5em ;
  border:none;
  padding: 10px 15px;
  border-radius:5px;
  cursor:pointer;
}
button:hover{
  background-color: hsl(0,100%,50%);
}
#result{
  font-size:1.75em;
  font-weight:bold;
}
